/* @import url("https://fonts.googleapis.com/css2?family=Story+Script&display=swap"); */
@import "tailwindcss";

.demo-text {
  font-family: "Story Script", sans-serif;
  font-weight: 600;
}

/* Additional styles for marquee */
.container {
  height: 70px;
 /* Increased height to ensure toggle button is clickable */
}
.btn {
  transition: 0.5s;
  border: solid black 1px;
  border-radius: 20px;
}
ul {
  font-family: "Story Script", sans-serif;
  font-size: 1rem;
}
.con {
  width: 80%;
}
.marquee {
  width: 50%;
}
.card {
  width: 80%;
}

.focus-visible\:text-\[\#060010\] {
    background-color: black;
}

.flowing-menu-link:focus-visible {
  text-decoration: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

